/* Styles go here
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    size: auto;
}*/
.game {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -150px; */
    margin: 0 auto;
    text-align: center;
    display: inline-block
  }
  .score {
    text-align: center;
  }
  button {
    border-radius: 8px;
    font-size: 24px;
    background-color: #555555;
    color: white;
  }
  html {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -150px; */
    margin: 0 auto;
    text-align: center;
    display: inline-block
  }